/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background for the body */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding-top: 70px; /* Space for fixed header */
}

header {
    background-color: #333; /* Darker background for the header */
    padding: 3px;
    color: white;
    text-align: center; /* Change this to justify-content if you want to align links */
    display: flex; /* Using flexbox to align links */
    justify-content: flex-end; /* Aligns children (links) to the end (right) */
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
}

header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: transparent; /* Make background transparent by default */
    display: inline-block;
}

header a:hover {
    background-color: #555; /* Visible background color on hover */
}


.container {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    display: flex; /* Ensures flex properties */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack children vertically */
}

h1, h2, h3, p {
    color: #ccc;
}

.gallery {
    width: 100%; /* Responsive width */
    max-width: 800px; /* Maximum width */
    height: auto; /* Adjust height based on content */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #333;
    padding-bottom: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto; /* Adjust height automatically */
    object-fit: contain;
}

.gallery p {
    margin-top: 5px;
    color: #ccc;
}

.nav-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.nav-buttons button:hover {
    background-color: #0056b3;
}
