{% extends "base.html" %}

{% block title %}Aa Forecaster - Home{% endblock %}

{% block content %}
    <h1>Aedes aegypti Forecaster</h1>
    <p class="data">Time: <span id="time">Loading...</span></p>
    <p class="data">Temperature: <span id="temperature">Loading...</span> °C</p>
    <p class="capture-info">Next Capture: <span id="next-capture">Loading...</span></p>

    <script>
        function updateData() {
            fetch("/data")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("time").textContent = data.time;
                    document.getElementById("temperature").textContent = data.temperature.toFixed(2);

                    let currentHour = parseInt(data.time.split(" ")[1].split(":")[0]);
                    let nextCapture;
                    if (currentHour >= 20) {
                        nextCapture = "07:00 AM (Tomorrow)";
                    } else if (currentHour >= 7) {
                        nextCapture = "08:00 PM";
                    } else {
                        nextCapture = "07:00 AM";
                    }
                    document.getElementById("next-capture").textContent = nextCapture;
                })
                .catch(error => console.error("Error fetching data:", error));
        }
        setInterval(updateData, 2000);
        updateData();
    </script>
{% endblock %}
